<html>
 <body>
 <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>





  <center>
    <br />
    <h1 style="font-size:100px"><%= @answer %></h1>
    <p>
      <%= @message %>
      <%= @currHours %>
    </p>
    <div class="fb-share-button" data-href="http://www.istherefencingtonight.com" data-type="button_count"></div>
    <p>hi che yeon!!!!!!</p>
  </center> 






<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9627358;
var sc_invisible=1;
var sc_security="1e3dd023";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img class="statcounter"
src="http://c.statcounter.com/9627358/0/1e3dd023/1/" alt="web
analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
 </body>
</html>
